//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Wed 12 21 23:31:09 2022

IO_LOC "trava_ativada" 13;
IO_PORT "trava_ativada" PULL_MODE=UP DRIVE=8;
IO_LOC "o_data_nack" 11;
IO_PORT "o_data_nack" PULL_MODE=UP DRIVE=8;
IO_LOC "o_address_nack" 10;
IO_PORT "o_address_nack" PULL_MODE=UP DRIVE=8;
IO_PORT "saida_hab_transmissao" PULL_MODE=UP DRIVE=8;
IO_PORT "saida_pulso_dados" PULL_MODE=UP DRIVE=8;
IO_LOC "o_scl" 32;
IO_PORT "o_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_sda" 31;
IO_PORT "o_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "i_start" 3;
IO_PORT "i_start" PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
